.App {
  text-align: center;
}

.lower-area{
  border-top: 2px solid gray;
}

a.upcoming-btn{
  -webkit-appearance:button;
  -moz-appearance:button;
  appearance:button;

  text-decoration:none;
  color:initial;
  background-color: LightSkyBlue;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  width: inherit;
  margin-top:5px;
}

.film-container{
  border: 2px solid black;
  background: LightGray;
  width: 500px;
  padding: 10px 25px;
}

h2{
  margin: 0 0 15px 0;
  border-bottom:2px solid gray;
}

li{
  font-size: 18px;
  margin: 5px;
}

a{
  text-decoration:none;
}
